.pagination{
  display: flex;
  gap: 12px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.pageNumber,.arrow{
  padding: 8px;
  border: none;
  cursor: pointer;
}

.pageNumber:disabled,.arrow:disabled{
  cursor: default;
}

.pageNumber{
  background-color: #ffffff;
}

.list{
  display: flex;
  align-items: center;
  justify-content: center;
}

