.banner{
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #f2f4f5;
}

.title{
  font-size: 16px;
}
.extra{
  font-size: 12px;
  color: #6c7072;
}